<head>
    {{ if (not (eq .Site.GoogleAnalytics "")) }}
    {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
    <div class="analytics">
        {{ template "_internal/google_analytics_async.html" . }}
    </div>
    {{ end }}
    {{ end }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" property="title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Title }}{{ if eq $isHomePage false }} - {{ .Title }}{{ end }}{{ if eq $isHomePage true }} - {{ .Site.Params.Subtitle}}{{ end }}">
    <meta name="description" property="description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}" >
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Title }}{{ if eq $isHomePage false }} - {{ .Title }}{{ end }} {{ if eq $isHomePage true }} - {{ .Site.Params.Subtitle}}{{ end }}</title>
    {{ template "_internal/twitter_cards.html" . }}
    {{ with .Site.Social.twitter -}}
    <meta name="twitter:creator" content="@{{ . }}"/>
    {{ end -}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}

    <link rel='stylesheet' href="{{"assets/css/custom-fonts.css" | relURL }}" type='text/css' media='all'/>

    <link rel='stylesheet' href="{{"assets/css/style.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/genericons.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/font-awesome.min.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/socicon.css" | relURL }}" type='text/css' media='all'/>
    <link rel="stylesheet" href="{{"assets/css/social-logos/social-logos.css" | relURL }}" type="text/css" media="all">
    <link rel='stylesheet' href="{{"assets/css/jetpack.css" | relURL }}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{{"assets/css/custom-styles.css" | relURL }}" type='text/css' media='all'/>

    <script type='text/javascript' src="{{"assets/js/jquery-1.12.4.min.js" | relURL }}"></script>
    <script type='text/javascript' src="{{"assets/js/html5shiv.min.js" | relURL }}"></script>
    <script type='text/javascript' src="{{"assets/js/navigation.js" | relURL }}"></script>

    <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon" />

</head>